@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; }

html {
	margin-top: 0px!important;
	border: 0px;
	padding: 0px;
}

body {
	background-image:url(Pictures/YosemitieBackground.jpg);
	background-attachment: fixed;
	background-position: top;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

background {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

div#menubar {
	position: fixed;
	text-align: right;
	vertical-align: middle;
	top: 0px
	margin: 0px auto;
	right: 0px;
	left: 0px;
	margin-top: 0px!important;
	width: 100%;
	height: 65px;
	background-color: #00F;
	text-shadow: 3px 2px 2px #000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	padding-top: 0px;
	margin: 0px auto;
	padding-left: 0px auto;
	padding-bottom: 0px auto;
	padding-right: 5px;
	border: 0px auto;
	display:block;
}


#menubar ul {
	list-style-type: none;
	text-align: left;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
}

ul.left {
	text-align: right;
	display: inline;
}

div#HomeBox {
	margin-top: 0px;
	height: 65px;
	width: 100px;
	margin-bottom: 0px;
	margin-right: 200px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #F3C;
}

div#DownloadsBox {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 100px;
	height: 65px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	background-color: #300;
}

div#NewsBox {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	height: 20px;
	width: 100px;
	text-align: center;
	vertical-align: top;
	float: right;
	background-color: #9C0;
	top: 0px;
}

div {
	background-color: #090;
	width: 100%;
	height: 365px;
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 75px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	left: 0px;
	right: 0px;
}

div#Div2 {
	background-color: #F00;
	width: 100%;
	height: 300px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-top: 200px;
	margin-left: 0px;
	right: 0px;
	left: 0px;
}

div#DivTable {
	background-color: #3F0;
	width: 100%;
	height: 300px;
	margin-top: 200px;
	padding-top: 1px;
	margin-left: 0px;
	margin-right: 0px;
	left: 0px;
	right: 0px;
}

table#DownloadsTable {
	background-color: #C00;
	text-align: center;
	padding: 3px;
	border: 1px solid black;
	border-collapse:collapse;
	margin-top: 37.5px;
	margin-left: 50px;
	width: 40%;
	vertical-align: middle;
	}
	
h2#TableDivH2 {
	font-family:"Times New Roman", Times, serif;
	font-size: 36px;
	color: #FFF;
	text-align: center;
	margin-top: 50px;
	margin-left: 50%;
}

p#DivTableParagraph {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	text-align: center;
	color: #FFF;
	margin-left: 50%;
	margin-top: 10px;
	vertical-align: middle;
}